.dashboard-container {
    font-family: "Bebas Neue", serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../assets/backgrounds/rivals-bg.svg');
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5em;
}

/* .leaderboard {
    color: #DCE1F4;
} */

.welcome-text {
    margin-top: 0.6em;
    color: #DCE1F4;
    font-size: 50px;
    line-height: 48px;
}

.display-name {
    display: block;
}

.report-feed {
    color: #DCE1F4;
}

.signout-button {
    cursor: pointer;
    background-color: #4681f4;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    border-radius: 40px;
    font-family: "Bebas Neue", serif;
    font-size: 18px;
    transition: background-color 0.1s ease-in;
    width: 100%;
}

.signout-button:hover {
    background-color: #55c2da;
}

.signout-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}