.data-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1.5em 1em;
    color: white;
    font-size: 20px;
}

.text-area {
    flex: 1;
}

.time-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.clock-icon {
    font-size: 30px;
    /* margin-right: 0.4em; */
}

.report-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
}

.graph-icon {
    font-size: 30px;
    /* margin-right: 0.8em;
    margin-left: 0.1em; */
}

.user-report-header {
    text-align: center;
    font-size: 30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 1em;
}

.report-feed-button {
    cursor: pointer;
    background-color: #4681f4;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    border-radius: 40px;
    font-family: "Bebas Neue", serif;
    font-size: 18px;
    transition: background-color 0.1s ease-in;
}

.report-feed-button:hover {
    background-color: #55c2da;
}

.edit-report-button {
    cursor: pointer;
    background-color: #4681f4;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    border-radius: 40px;
    font-family: "Bebas Neue", serif;
    font-size: 18px;
    transition: background-color 0.1s ease-in;
}

.edit-report-button:hover {
    background-color: #55c2da;
}

.leaderboard {
    text-align: center;
}

.leaderboard-header {
    font-size: 30px;
}

.recent-reports {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    scroll-behavior: smooth;
}

.line {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (min-width: 1024px) {

    .time-container {
        font-size: 30px;
    }

    .report-count-container {
        font-size: 30px;
    }

    .data-container {
        padding: 3em;
    }
    
    .line {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .recent-reports {
        margin-bottom: 3em;
    }

    .button-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .report-feed-button {
        flex-grow: 1;
        border-radius: 10px;
    }

    .edit-report-button {
        flex-grow: 1;
        border-radius: 10px;
    }

}