.report-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
    border-radius: 10px;
    flex: 0 0 230px;
    background-size: cover;
    background-position: center;
    padding: 1em;
    position: relative;
    min-height: 250px;
}

.fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
    border-radius: 0 0 10px 10px;
}

.main-content {
    z-index: 1;
}

.time-content {
    z-index: 1;
}

.time-content p {
    margin-bottom: 0;
}

.user-content {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}

.like-content {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    padding-left: 0.2em;
}

.comment-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

@media (min-width: 1024px) {
    .report-card {
        flex: 0 0 400px;
        min-height: 300px;
    }
}